.header__nav {
    position: fixed;
    top: 0;
    left: 100%;

    // plus 1% to cater for rounding issues
    width: $offcanvas-nav-w + 1%;
    height: 100%;

    background: $nav-col;
    <% if (cssFramework !== 'noFramework') { %>
    @include transition(all $nav-trans-dur);
    @include transition-timing-function($nav-trans-ease);

    @include at-breakpoint($nav-break) {
        position: static;
    }
    <% } else { %>
    @media (min-width: $nav-break) {
        position: static;
    }
    <% } %>
}

.nav-open .header__nav {
    left: 100% - $offcanvas-nav-w;
}

.header__nav-trigger {
    <% if (cssFramework !== 'noFramework') { %>
    @include hide-text;
    <% } %>

    position: fixed;
    top: 0;
    right: 0;

    width: 36px;
    height: 36px;

    border: none;
    @if $col-scheme == dark {
        background-image: url(../img/icon-menu-white.png);
    } @else {
        background-image: url(../img/icon-menu-black.png);
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $nav-col;

    <% if (cssFramework !== 'noFramework') { %>
    @include transition(all $nav-trans-dur);
    @include transition-timing-function($nav-trans-ease);

    @include at-breakpoint($nav-break) {
        display: none;
    }
    <% } else { %>
    @media (min-width: $nav-break) {
        display: none;
    }
    <% } %>
}

.svg .header__nav-trigger {
    @if $col-scheme == dark {
        background-image: url(../img/icon-menu-white.svg);
    } @else {
        background-image: url(../img/icon-menu-black.svg);
    }
}

.nav-open .header__nav-trigger {
    right: $offcanvas-nav-w;
}


    .header__nav__group {
        padding-left: 0;
    }

        .header__nav__item {
            display: block;
            margin-right: 0;
            <% if (cssFramework !== 'noFramework') { %>
            @include at-breakpoint($nav-break) {
                display: inline-block;
            }
            <% } else { %>
            @media (min-width: $nav-break) {
                display: inline-block;
            }
            <% } %>
        }
