.main-page {
    min-height: 100%;
    margin-bottom: -$footer-h;
    <% if (cssFramework !== 'noFramework') { %>
    @include container;
    <% } %>
    position: relative;
    right: 0;
    background: #fff;
    <% if (cssFramework !== 'noFramework') { %>
    @include transition(all $nav-trans-dur);
    @include transition-timing-function($nav-trans-ease);
    <% } %>

    &:after {
        content: "";
        display: block;
        height: $footer-h;
    }
}

.nav-open .main-page {
    right: $offcanvas-nav-w;
}