/* sizes */
$unit-default: 16;
$unit-default-px: $unit-default + px;

$font-size-xxxl: 2.25; // 36px @ 16px
$font-size-xxl: 1.5; // 24px @ 16px
$font-size-xl: 1.125; // 18px @ 16px
$font-size-l: 1; // 16px @ 16px
$font-size-m: 0.875; // 14px @ 16px
$font-size-xs: 0.75; // 12px @ 16px
$font-size-xxs: 0.625; // 10px @ 16px

$size-padding-l: 2;
$size-padding-m: 1;
$size-padding-s: 0.5;

$offcanvas-nav-w: 70%;

<% if (cssFramework === 'bourbonNeat') { %>/* grid */
$grid-columns: 12;
$column: 4.375em; // 70px @ 16px
$gutter: 1.875em; // 30px @ 16px
$max-width: 73.125em; // 1170px @ 16px
$grid-padding: 10px;
<% } %><% if (cssFramework === 'compassSusy') { %>/* grid */
$total-columns: 12;
$column-width: 4.375em; // 70px @ 16px
$gutter-width: 1.875em; // 30px @ 16px
$grid-padding: 10px;
<% } %>

/* breakpoints */
$break-xs: 20em; // 320px @ 16px
$break-s: 30em; // 480px @ 16px
$break-m: 48em; // 768px @ 16px
$break-l: 64em; // 1024px; @ 16px
$nav-break: $break-m;


/* colors */
$col1: tomato;

$nav-col: $col1;
$highlight-col: lighten($col1, 10%);
$col-scheme: dark; // dark or light


/* typography */
$font-heading: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-body: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-weight-heavy: 900;
$font-weight-reg: 300;

$line-h-multiplier: 1.5;


/* anim */
$nav-trans-dur: 1s;
$nav-trans-ease: cubic-bezier(x1, y1, x2, y2);


/* misc */<% if (cssFramework === 'compassSusy') { %>
$legacy-support-for-ie: false;
$legacy-support-for-ie6 : $legacy-support-for-ie;
$legacy-support-for-ie7 : $legacy-support-for-ie;<% } %>
$sub-menu-indent: 10px;
<% if (wordpress === true) { %>$img-dir: "assets/img";<% } else { %>$img-dir: "../img";<% } %>