.header {

}

    .header__title {

    }

    .header__meta {

    }

        .header__meta__date {

        }

        .header__meta__edit-link {

        }

    .header__nav {

    }

    .nav-open .header__nav {

    }

    .header__nav-trigger {

    }

    .svg .header__nav-trigger {

    }

    .nav-open .header__nav-trigger {

    }


        .header__nav__group {
            padding-left: 0;
        }

            .header__nav__item {
                display: block;
                margin-right: 0;
                <% if (cssFramework !== 'noFramework') { %>
                @include at-breakpoint($nav-break) {
                    display: inline-block;
                }
                <% } else { %>
                @media (min-width: $nav-break) {
                    display: inline-block;
                }
                <% } %>
            }

            .header__nav__subitem {

            }

                .header__nav__subgroup {

                }

                .header__nav__subsubgroup {

                }