.page-header {

}

    .page-header__title {

    }

    .page-header__branding {

    }

        .page-header__branding__title {

        }

        .page-header__branding__description {

        }

    .page-header__nav {
        position: fixed;
        top: 0;
        left: 100%;

        // plus 1% to cater for rounding issues
        width: $offcanvas-nav-w + 1%;
        height: 100%;

        background: $nav-col;

        @include transition(all $nav-trans-dur);
        @include transition-timing-function($nav-trans-ease);

        @include at-breakpoint($nav-break) {
            position: static;
        }

    }

    .nav-open .page-header__nav {
        left: 100% - $offcanvas-nav-w;
    }

        .page-header__nav__item {
            display: block;

            &.menu-item-has-children {
                position: relative;
            }

            @include at-breakpoint($nav-break) {
                display: inline-block;
            }
        }

            .page-header__nav__subgroup {
                left: 100%;
                top: 0;
                margin: 0;
                padding-left: $sub-menu-indent;
                white-space: nowrap;

                @include at-breakpoint($nav-break) {
                    display: none;
                    position: absolute;
                }

                &.page-header__nav__group--depth-1 {
                    left: 0;
                    top: 100%;

                    @include at-breakpoint($nav-break) {
                        padding-left: 0;
                    }
                }
            }

            .menu-item-has-children:hover > .page-header__nav__subgroup {
                display: block;
            }

            .page-header__nav__subitem {
                display: block;
            }



    .page-header__nav-trigger {

        @include hide-text;


        position: fixed;
        top: 0;
        right: 0;

        width: 36px;
        height: 36px;

        border: none;
        @if $col-scheme == dark {
            background-image: url(#{$img-dir}/icon-menu-white.png);
        } @else {
            background-image: url(#{$img-dir}/icon-menu-black.png);
        }
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $nav-col;


        @include transition(all $nav-trans-dur);
        @include transition-timing-function($nav-trans-ease);

        @include at-breakpoint($nav-break) {
            display: none;
        }

    }

    .svg .page-header__nav-trigger {
        @if $col-scheme == dark {
            background-image: url(#{$img-dir}/icon-menu-white.svg);
        } @else {
            background-image: url(#{$img-dir}/icon-menu-black.svg);
        }
    }

    .nav-open .page-header__nav-trigger {
        right: $offcanvas-nav-w;
    }
