<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= siteName %></title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/style">

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="assets/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="assets/css/lteie8.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/bower_components/jquery-legacy/jquery.min.js"><\/script>')</script>
        <script src="assets/bower_components/selectivizr/selectivizr.js"></script>
        <script src="assets/bower_components/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header class="header page-header">
        <nav class="nav header-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>

    <main class="main" role="main">

    </main>

    <footer class="footer page-footer">

    </footer>

    <!--[if gte IE 9]><!-->
        <script src="@jquerycdn"></script>
        <script>window.jQuery || document.write('<script src="assets/bower_components/jquery/jquery.min.js"><\/script>')</script>
        <script src="assets/bower_components/jquery-migrate/jquery-migrate.js"></script> <!-- remove for production -->
        <!-- <script src="assets/bower_components/jquery-migrate/jquery-migrate.min.js"></script> --> <!-- activate for production  -->
    <!--<![endif]-->

    <script src="assets/js/script.js"></script> <!-- remove for production -->
    <!-- <script src="assets/js/script.min.js"></script> activate for production -->

    <!--
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->

    </body>
</html>