<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- build:[src]:dist /assets/js/lib/modernizr.js -->
    <script src="/assets/bower_components/modernizr/modernizr.js"></script>
    <!-- /build -->

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/assets/css/lteie8.css">
        <script src="@jquery-legacy-cdn"></script>
        <script>window.jQuery || document.write('<script src="{!= jqLegMinLocal !}"><\/script>')</script>

        <!-- build:js /assets/js/lteie8.main.js -->
        <script src="/assets/bower_components/selectivizr/selectivizr.js"></script>
        <script src="/assets/bower_components/respond/dest/respond.src.js"></script>
        <!-- endbuild -->
    <![endif]-->

</head>
<body>
    <div class="main-page">
        {% include header.html %}

        <main class="{{ page.main-class }}" role="main">
            {{ content }}
        </main>
    </div>

    {% include footer.html %}

    <!--[if gte IE 9]><!-->
        <script src="@jquery-cdn"></script>
        <script>window.jQuery || document.write('<script src="{!= jqMinLocal !}"><\/script>')</script>
        <script src="{!= jqMigrate !}"></script>
    <!--<![endif]-->

    <!-- build:js /assets/js/script.min.js -->
    <script src="/assets/js/script.js"></script>
    <!-- endbuild -->

    <!--
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->

    </body>
</html>